.aside {
    width: 500px;
    margin: 20px 0 20px 0;
    padding: 2em;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    margin: 0;
    font-size: 1.1rem;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.amountInput {
    width: 60px;
}
