/*Aside Selected plants layout*/
.aside {

    margin: 20px 0 20px 0;
    padding: 1em;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    margin: 0;
    font-size: 1.1rem;
    text-decoration-line: underline;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.listItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

#amountInput {
    width: 60px;
}

#saveButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
