.outerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.innerContainer{
    display: flex;
    gap: 2rem;
    width:100%;
    max-width: 90vw;
    align-items: flex-start;

}

.innerContainer  section {
    flex: 1;
    min-width: 0;
}

.plantItem{
border: 2px solid var(--olivine);
}

.selectedPlantsAside{
    flex: 0 0 60px;
}