.searchBar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchBar form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

details {
    border: magenta 1px solid;
    max-width: 40vw;
}