/*////////////////////////
    Table of Contents
	1. imports
	2. declaration of variables
	3. general typography
	4. global styles
	5. layout
	6. styling per area
	7. media queries

////////////////////////*/

/*-------------------------------------------------------------------------------*/
/*----1 reset and imports----*/
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');



/*CSS reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


/*-------------------------------------------------------------------------------*/
/*----2. declaration of variables ----*/
:root { /* colors */
    --mint-cream: #eef3eb;
    --tea-green: #C8D6BB;
    --olivine: #AAC294;
    --hunter-green: #3E5A39;
    --licorice: #1A1110;
    --rose-ebony:#674846;
    --persian-red:#CC3333;
    --misty-rose:#FFE4E1;
    --shadow:#B2BEB5;

}
/*-------------------------------------------------------------------------------*/
/*----3. general typography ----*/
html { font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--hunter-green);
    font-size: 16px;}

h1,h2,h3,h4,h5 {
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
}


/*-------------------------------------------------------------------------------*/
/*----4. global styles ----*/
body {
    background-color: var(--mint-cream);
}

main{
}
section{
    background-color: var(--mint-cream);
}
ul{ list-style-type: none;}


/*-------------------------------------------------------------------------------*/
/*----5. layout ----*/
nav > ul{
    display: flex;
    justify-content: space-around;
}

main{
    aspect-ratio:2500 / 1771;
    width: 100vw;
    /*height: auto;*/
    overflow-y: scroll;

    background: var(--mint-cream) url('./assets/watercolour_background.jpg') no-repeat fixed center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap:30px;
}



/*-------------------------------------------------------------------------------*/
/*----6. styling per area ----*/
nav{
    padding: 10px;

    background-color: var(--tea-green);
}

/*-------------------------------------------------------------------------------*/
/*----7. media queries ----*/