/*////////////////////////
    Table of Contents
	1. Imports
	2. CSS reset
////////////////////////*/

/*-------------------------------------------------------------------------------*/
/*----1 imports ----*/


/*--------------------------------------------------------------------------------*/
/*----2 CSS reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

